.main_div{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/bg_image.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.sub_div{
    margin: 10px;
}

.main_div p {
    background-color: #2e2e2e;
    border-radius: 10px;
    color: white;
    font-size: 4.5rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    text-align: center;
    opacity: 0.6;
}

.main_div h6{
    background-color: #2e2e2e;
    border-radius: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
    opacity: 0.6;
}
