.main {
    display: flex;
    flex-direction: row;
    background-color: #222;
    padding-top: 80px;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full viewport height */
}

.firstDiv {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    /* Center image horizontally within firstDiv */
    align-items: center;
    /* Center image vertically within firstDiv */
    margin: 10px;
    padding: 10px;
}

.secondDiv {
    flex: 1;
    max-width: 50%;
    text-align: start;
    margin: 10px;
    padding: 10px;
}

.h1 {
    color: #ededed;
    text-align: start;
    margin-bottom: 20px;
}

.image {
    width: 400px;
    height: 350px;
    border-radius: 5px;
}

.image:hover {
    opacity: 0.9;
}

.btn {
    color: white;
    border-color: white;
    letter-spacing: 4px;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn:hover {
    color: #bac964;
    border-color: #bac964;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        height: auto;
        /* Adjust height for smaller screens */
    }

    .firstDiv,
    .secondDiv {
        max-width: 100%;
        justify-content: center;
        /* Center content horizontally */
        align-items: center;
        /* Center content vertically */
    }

    .image {
        width: auto;
        height: 450px;
        /* Maintain aspect ratio */
    }
}