

.main {
  margin: 15px;
}

/* Box.module.css */
.cardContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.main:hover {
  opacity: 0.8;
}


.bottomCenter {
  text-align: center;
  background-color: #222;
  border-radius: 20px;
  opacity: 0.8;
  padding: 10px;
  font-size: 8px;
  font-weight: 400;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

.logo{
  background-color: #323232;
  color: #bac964;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}

.logo:hover{
  background-color: #bac964;
  color: white;
}